<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/manager/estilo.css">

</head>

<body>
    <header id="topo">
        <h1 class="texto">ACME FOR MANAGER</h1>
        <div id="buttons">
            <a href="/manager/"><img src="../images/manager/home.png"
                    alt="ícone com uma casa indicando a página inicial"></a>
            <a href="/manager/notifi/"><img src="../images/manager/bell.png"
                    alt="ícone com um sino indicando as notificações"></a>
        </div>
    </header>
    <main id="main">
        <h1>Dados da manutenção</h1>
        <form autocomplete="off" id="busca" name="busca" method="POST" action="/manager/planMan/search">
            <input list="avioes" name="aviao" id="aviao" placeholder="Buscar avião">
            <datalist id="avioes">
                <% avioes.map( avi => { %>
                    <option value="<%= avi.nserie %>">
                <% }); %>
            </datalist>
            <button type="submit"><img src="../images/manager/lupa.png"></button>
        </form>
        <div id="forms">
            <form autocomplete="off" id="form1" name="manterAviao" method="POST" action="/manager/planMan/manutencao">
                <input style="display: none;" type="number" value="<%= aviao != 0 ? aviao.id : null %>" name="aviao" id="aviao">
                <label for="num">N° da manutenção</label>
                <input type="number" id="numman" name="num" required>
                <label for="mot">Motivo da manutenção</label>
                <input type="text" id="motman" name="mot" required>
                <label for="tecnico">Técnico</label>
                <input type="text" list="tecnicos" name="tec" id="tec">
                <datalist id="tecnicos">
                    <% tecnicos.map( tec => { %>
                        <option value="<%= tec.nome %> (ID: <%= tec.id %>)">
                    <% }); %>
                </datalist>
                <label for="obs">Observações/relatórios</label>
                <input type="text" id="obsrel" name="obs" required>
                <label for="dathora">Data e hora</label>
                <input type="date" id="dathora" name="data" required>
                <label for="freq">Repetir a cada:</label>
                <div id="checkbox">
                    <div id="opts">
                        <input name="freq" id="dia" type="radio" value="DIARIA" >
                        <label for="dia">Dia</label><br>
                    
                        <input name="freq" id="semana" type="radio" value="SEMANAL" >
                        <label for="semana">Semana</label><br>
                  
                   
                        <input name="freq" id="quinzenal" type="radio" value="QUINZENAL" >
                        <label for="quinzenal">Quinze dias</label><br>
                    
                    
                        <input name="freq" id="mensal" type="radio" value="MENSAL" >
                        <label for="mensal">Mês</label><br>
                    
                        <input name="freq" id="naorep" type="radio" value="NAOREPETE" >
                        <label for="naorep">Não Repetir</label><br>
                    </div>
                </div>
                <div id="btns">
                    <button type="reset"><img src="../images/manager/cancelar.png"></button>
                    <button type="submit"><img src="../images/manager/pasta.png"></button>
                </div>
            </form>
            <hr>
            <div id="box">
                <div id="infos">
                    <h2 style="font-size: medium; font-weight: normal;">Informações do avião</h2>
                    <h3>Fabricante: <%= aviao != 0 ? aviao.fabricante : null %> </h3> 
                    <h3>N° de série: <%= aviao != 0 ? aviao.nserie : null %></h3>
                    <h3>Tamanho total: <%= aviao != 0 ? aviao.tamanho_total : null %> metros</h3>
                    <h3>Tamanho asa: <%= aviao != 0 ? aviao.tamanho_asa : null %> metros</h3>
                    <h3>Velocidade: <%= aviao != 0 ? aviao.velocidade : null %></h3>
                    <h3>Quantidade de assentos: <%= aviao != 0 ? aviao.quantidade_assentos : null %></h3>
                    <h3>Modelo do avião: <%= aviao != 0 ? aviao.modelo : null %></h3>
                    <h3>Observações: <%= aviao != 0 ? aviao.observacoes : null %></h3>
                </div>
                <hr style="width: 200px;">
                <div id="infos">
                    <h2 style="font-size: medium; font-weight: normal;">Manutenções futuras</h2>
                    <% 
                    console.log(future);
                    if(future != 0){ future.map( fut => { %>
                        <% var data = fut.data.split("T")[0].split("-")  %>
                        <h3>N° da manutenção: <%= fut.numeroManutencao %> </h3>
                        <h3>Motivo da manutenção: <%= fut.motivoManutencao %> </h3>
                        <h3>Observações: <%= fut.observacoes %> </h3>
                        <h3>Data: <%= data[2]+"/"+data[1]+"/"+data[0] %> </h3>
                        <hr style="width: 150px;">
                    <% })} else {  %>
                        <h3>N° da manutenção: </h3>
                        <h3>Motivo da manutenção: </h3>
                        <h3>Observações: </h3>
                        <h3>Data: </h3>
                    <% }  %>
                </div>
            </div>
        </div>

    </main>
    <footer id="rodape">
        <p>Desenvolvido por alunos da Fatec Zona Leste</p>
        <p>Todos os direitos reservados &copy;</p>
    </footer>
</body>

</html>